{
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "arrowParens": "always",
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "htmlWhitespaceSensitivity": "ignore"
}
